<form method="post" action="">
    <table>
       <tr>
           <td>Libelle:</td>
<td><input type="text" name="libelle"></td>
       </tr>
        <tr>
            <td>Pays:</td>
            <td><input type="text" name="pays"></td>
        </tr>
        <tr>
            <td><input type="submit" value="ajouter"></td>
        </tr>
    </table>
</form>
